<a href="https://colab.research.google.com/github/manjitullal/Python/blob/master/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How to changed the type of a pandas column

In [ ]:
import pandas as pd
df = pd.DataFrame({'a':['1','2'], 'b':[4,5]})
df.head()

   a  b
0  1  4
1  2  5

In [ ]:
df.dtypes

a    object
b     int64
dtype: object

In [ ]:
df = df.astype({"a": int})

In [ ]:
df.dtypes

a    int64
b    int64
dtype: object

https://stackoverflow.com/questions/15891038/change-column-type-in-pandas

# How to run the cosine similarity on a big matrix

https://stackoverflow.com/questions/34890861/how-to-run-a-large-matrix-for-cosine-similarity-in-python

In [1]:
import numpy as np

m = np.random.randint(10, size=(3,3))

In [21]:
m = [[1, 1, 1], [2, 4, 2], [.8, 87, 8]]
m = np.array(m)
m

array([[ 1. ,  1. ,  1. ],
       [ 2. ,  4. ,  2. ],
       [ 0.8, 87. ,  8. ]])

In [22]:
from sklearn import preprocessing

cosine_sim = np.dot(preprocessing.normalize(m, axis=1), preprocessing.normalize(m, axis=1).T)

In [23]:
cosine_sim

array([[1.        , 0.94280904, 0.6330515 ],
       [0.94280904, 1.        , 0.85415115],
       [0.6330515 , 0.85415115, 1.        ]])